<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <a href="/sneakers">Browse Sneakers</a>
    <a href="/sneakers/new">Add New Sneaker</a>
    <a href="/sneakers/">Back to Sneakers</a> -->
    <title>Sneakers App</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1>Welcome to the Sneakers app</h1>
    <a href="/sneakers">Browse Sneakers</a><br>
    <a href="/sneakers/new">Add New Sneaker</a><br>
    <br>
    <ul>
      <% sneakers.forEach(sneaker => { %>
        <li>
          <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.name %></a>
          <a href="/sneakers/<%= sneaker._id %>"><%= sneaker.size %></a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>