body {
  font-family: cursive; color: #007bff; font-weight: bolder;
  cursor: auto;
    margin: 0;
    padding: 0;
    background-image: url("https://i.ibb.co/G0PCbqr/sneakers-couch.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height of the background to fill the viewport */
}
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
}

/* Main content */
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Sneaker list */
.sneaker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sneaker-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}

.sneaker-card h2 {
  color: #333;
  font-size: 20px;
}

.sneaker-card p {
  color: #555;
  margin-top: 10px;
  line-height: 1.4;
}

.pagination-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-links a {
  margin-right: 10px;
}

/* Sorting links */
.sorting-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sorting-links a {
  margin-right: 10px;
}

/* Search form */
.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-form label {
  margin-right: 10px;
}

.search-form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #0056b3;
}

/* Button animation */
.button-animation {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Scrolling text */
.scroll-text {
  overflow: hidden;
}

.scroll-text p {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.glowing-text {
  text-shadow: 0 0 5px #00ff00, /* Green glow */
               0 0 10px #00ff00, /* Green glow */
               0 0 15px #00ff00, /* Green glow */
               0 0 20px #00ff00, /* Green glow */
               0 0 30px #00ff00, /* Green glow */
               0 0 40px #00ff00, /* Green glow */
               0 0 50px #00ff00, /* Green glow */
               0 0 75px #00ff00; /* Green glow */
}